#informacion {
    text-align: center;
}

h1{
    font-size: xx-large;
}

p{
    text-align: justify;
}

#information li{
    background-color: yellow;
}

.realizado{
    background-color: green !important;
}